.header{
	font-family: arial;
	font-size: x-large;
	text-align: center;
	background-color: lightgreen;
}
h1{
	font-family: arial;
	font-size: xx-large;
	text-align: center;
	background-color: lightgreen;
}
p{
	font-family: arial;
	font-size: x-large;
	margin-left: 5px;
	background-color: lightgreen;
}